<div class="credit">
    <h1 id="home_title">Credit Score</h1>
    <h1 id="credit_score">730</h1>
</div>
<img id="avatar_picture" src="{{profile_picture}}">
<link href="{{ url_for('static', filename='stylesheets.styles.css')}}" />

<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <body>
        <canvas id="homeChart" style="width:100%;max-width:800px"></canvas>
    <script>
    var xValues = [1,2,3,4,5,6,7,8,9,10,11,12];
    var yValues = [32,15,61,78,109,140,179,134,159,274,175,207];
    
    new Chart("homeChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
            label: 'Money spent within a year',
            data: yValues,
            backgroundColor: "rgb(75, 192, 192, 0.2)",
            borderColor: "rgb(75, 192, 192)",
            fill: false,
            tension: 0.1
        }]
      },
    });
    </script>
    <head>
        <meta charset="UTF-8">
        <title>CreditSearch</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- Merriweather Google Font Link -->
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="sidebar">

            <div class="logo_content">
                <div class="logo">
                    <i class='bx bx-credit-card'></i>
                    <div class="logo_name">Credit Search</div>
                </div>
            </div>


            <ul class="nav_list" id="menu">

                <li>
                    <a href="/">
                        <i class='bx bx-home-circle' ></i>
                        <span class="links_name">Home</span>
                    </a>
                </li>


                <li>
                    <a href="/templates/search.html">
                        <i class='bx bx-search' ></i>
                        <span class="links_name">Search</span>
                    </a>
                </li>


                <li>
                    <a href="/templates/chart_testing.html">
                        <i class='bx bx-money'></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                </li>


            </ul>



            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                        <img src="{{profile_picture}}" alt="profile_avatar">
                        <div class="name_job">
                            <div class="name">Jane Doe</div>
                            <div class="job">College Student</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>






