
<h1>Testing</h1>

  <head>
    <meta charset="UTF-8">
    <title>CreditSearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}" />
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  </head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-credit-card'></i>
                <div class="logo_name">CreditSearch</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>

        <ul class="nav_list" id="menu">
            <li>
                <a href="/">
                    <i class='bx bx-home-circle' ></i>
                    <span class="links_name">Home</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="/templates/search.html">
                    <i class='bx bx-search' ></i>
                    <span class="links_name">Search</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
            <li>
                <a href="/templates/chart_testing.html">
                    <i class='bx bx-money'></i>
                    <span class="links_name">Finances</span>
                </a>
                <!-- <span class="tooltip">Dashboard</span> -->
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="{{profile_picture}}" alt="profile_avatar">
                    <div class="name_job">
                        <div class="name">Jane Doe</div>
                        <div class="job">College Student</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div class="main">
  <form action = "{{url_for("search")}}" method = "post">
      <div class="custom-select1" style="width:200px;">
          <select name = "benefit">
            <option value="0">Benefits:</option>
            <option value="Low Interest">Low Interest</option>
            <option value="Cash Back">Cash Back</option>
            <option value="Hotel and Travel Points">Hotel and Travel Points</option>
            <option value="Retail Rewards">Retail Rewards</option>
            <option value="Balance Transfer">Balance Transfer</option>
            <option value="Gas Points">Gas Points</option>
            <option value="Airline Miles">Airline Miles</option>
          </select>
        </div>
      
        <div class="custom-select2" style="width:200px;">
          <select name = "occupation">
            <option value="0">Occupation:</option>
            <option value="Student">Student</option>
            <option value="Business">Business</option>
          </select>
        </div>
      
        <div class="custom-select3" style="width:200px;">
          <select name = "other">
            <option value="0">Other:</option>
            <option value="Low/No Anual Fee">Low/No Anual Fee</option>
            <option value="High Reward Rate">High Reward Rate</option>
            <option value="User Rated 5/5">User Rated 5/5</option>
          </select>
        </div>
  
      <button class="button_execute" name="submit" value="submit">Submit</button>
  </form>
</body>

</div>
